{% block %}
    {% client %}(what is my horoscope for|horoscope for|what is the horoscope for|today's horoscope|today's fortune is|오늘의 운세는?) (?P<sign>.*) {% endclient %}
    {% response %}{% call horoscope: %sign %}{% endresponse %}
{% endblock %}

{% block %}
	{% client %}(do you know about|who is|what is) (?P<query>.*){% endclient %}
	{% response %}{% call wiki: %query %}{% endresponse %}
{% endblock %}

{% block %}
    {% client %}(how is the weather in|weather in) (?P<city>.*){% endclient %}
    {% response %}{% call weather: %city %}{% endresponse %}
{% endblock %}

{% block %}
    {% client %}(Do you know|Do you have any idea) (?P<query>.*){% endclient %}
    {% response %}{% call do_you_know: %query %}{% endresponse %}
{% endblock %}
