{% block %}
    {% client %}(what is my horoscope for|horoscope for|what is the horoscope for|today's horoscope|today's fortune is|) (?P<sign>.*) {% endclient %}
    {% response %}{% call horoscope: %sign %}{% endresponse %}
{% endblock %}

{% block %}
    {% client %}(Menu Recommendation|Dinner menu Recommendation|recommend me a dinner menu|what should I have for dinner|suggest a dinner menu|what to eat for dinner|dinner recommendation|recommend a dinner menu) (?P<sign>.*) {% endclient %}
    {% response %}{% call food: %sign %}{% endresponse %}
{% endblock %}

{% block %}
	{% client %}(do you know about|who is|what is) (?P<query>.*){% endclient %}
	{% response %}{% call wiki: %query %}{% endresponse %}
{% endblock %}

{% block %}
    {% client %}(how is the weather in|weather in) (?P<city>.*){% endclient %}
    {% response %}{% call weather: %city %}{% endresponse %}
{% endblock %}

{% block %}
    {% client %}(Do you know|Do you have any idea) (?P<query>.*){% endclient %}
    {% response %}{% call do_you_know: %query %}{% endresponse %}
{% endblock %}

{% block %}
    {% client %}(box office|box office ranking){% endclient %}
    {% response %}{% call box_office: %}{% endresponse %}
{% endblock %}
