{% block %}
	{% client %}(do you know about|who is|what is) (?P<query>.*){% endclient %}
	{% response %}{% call wiki: %query %}{% endresponse %}
{% endblock %}

{% block %}
    {% client %}(how is the weather in|weather in) (?P<city>.*){% endclient %}
    {% response %}{% call weather: %city %}{% endresponse %}
{% endblock %}

{% block %}
    {% client %}(Do you know|Do you have any idea) (?P<query>.*){% endclient %}
    {% response %}{% call do_you_know: %query %}{% endresponse %}
{% endblock %}
